.show-img {
  width: 300px;
  height: 300px;
}

.index-img {
  width: 250px;
  height: 250px;
}

.index-container {
  background-image: url("https://images.unsplash.com/photo-1604147706283-d7119b5b822c?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687");
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding: 5em;
  overflow: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
main,
header,
footer {
  width: 80%;
  margin: 0 auto;
  padding: 1em 3em;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 10px 10px 40px rgb(141, 139, 139);
  display: flex;
  justify-content: space-between;
}
footer {
  margin-top: 20px;
}
header {
  margin-bottom: 2em;
  font-family: Arial, Helvetica, sans-serif;
}
header ul {
  margin: 0;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 2em 0;
  font-family: "Inconsolata", courier;
}
li {
  margin: 1em 0;
}
li a {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px rgb(162, 162, 162);
  font-size: 1.1em;
  display: inline-block;
  padding-bottom: 0.3em;
}
li a:hover:after {
  width: 100%;
}
